<div class="container-fluid bgPadding">
    <div class="countHead_panel">
        <div class="row">
            <div class="col-md-3 countTitle_panel">
                <span class="countTitle">次日留存用户</span>
            </div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default countBtn">非教师</button>
                    <button class="btn btn-default countBtn">教师</button>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="count_rightBtn">
                    <select class="form-control form-group-sm count_selectList" name="" id="">
                        <option>[数据绑定]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="countChart_panel">
        <div class="row">
            <div id="testChart" count-active-user class="chartView"></div>
        </div>
    </div>
</div>
