<div class="container-fluid bgPadding">
    <div class="countHead_panel">
        <div class="row">
            <div class="col-md-3 countTitle_panel">
                <span class="countTitle">周用户构成</span>
            </div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default countBtn">非教师</button>
                    <button class="btn btn-default countBtn">教师</button>
                </div>
            </div>
        </div>
    </div>
    <div class="countChart_panel">
        <div class="row">
            <div id="testChart" count-week-user class="chartView"></div>
        </div>
    </div>
    <div class="countTable_panel">
        <div class="row">
            <div class="col-md-11 countTitle_panel">
                <span class="countTitle">周用户构成明细</span>
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-paste exportDataBtn"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>时间</td>
                        <td>新用户</td>
                        <td>本周回流用户</td>
                        <td>连续活跃2周用户</td>
                        <td>连续活跃3周用户</td>
                        <td>连续活跃4周用户</td>
                        <td>忠诚用户</td>
                        <td>近期流失用户</td>
                        <td>周活跃用户</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
