<div class="container-fluid bgPadding">
    <div class="countHead_panel">
        <div class="row">
            <div class="col-md-3 countTitle_panel">
                <span class="countTitle">沉默用户趋势</span>
            </div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default countBtn">非教师</button>
                    <button class="btn btn-default countBtn">教师</button>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="count_rightBtn">
                    <select class="form-control form-group-sm count_selectList" name="" id="">
                        <option>[数据绑定]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="countChart_panel">
        <div class="row">
            <div id="testChart" count-silent-user class="chartView"></div>
        </div>
    </div>
    <div class="countTable_panel">
        <div class="row">
            <div class="col-md-12 countTitle_panel">
                <span class="countTitle">沉默用户概括</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>累计沉默用户</td>
                        <td>累计沉默用户比例</td>
                        <td>近期(90~30天)沉默用户</td>
                        <td>近期(90~30天)沉默用户比例</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="countTable_panel">
        <div class="row">
            <div class="col-md-11 countTitle_panel">
                <span class="countTitle">沉默用户明细</span>
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-paste exportDataBtn"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>日期</td>
                        <td>新增用户</td>
                        <td>沉默用户</td>
                        <td>沉默用户占比</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
