<div class="container-fluid bgPadding">
    <div class="countHead_panel">
        <div class="row">
            <div class="col-md-3 countTitle_panel">
                <span class="countTitle">实时新增人数统计</span>
            </div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default countBtn">非教师</button>
                    <button class="btn btn-default countBtn">教师</button>
                </div>
            </div>
        </div>
    </div>
    <div class="countChart_panel">
        <div class="row">
            <div id="testChart" count-now-add-user class="chartView"></div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button id="countDatePick" class="btn btn-default btn-sm" style="float: right" type="button" data-date-format="dd MM yyyy" data-link-field="startDate" data-link-format="yyyy-mm-dd">选择对比时段</button>
            </div>
        </div>
    </div>
</div>
