<div class="container-fluid bgPadding">
    <div class="countHead_panel">
        <div class="row">
            <div class="col-md-3 countTitle_panel">
                <span class="countTitle">累计用户</span>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="count_rightBtn">
                    <button class="btn btn-default btn-xs">DAU</button>
                    <button class="btn btn-default btn-xs">WAU</button>
                    <button class="btn btn-default btn-xs">MAU</button>
                </div>
            </div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default countBtn">非教师</button>
                    <button class="btn btn-default countBtn">教师</button>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="count_rightBtn">
                    <select class="form-control form-group-sm count_selectList" name="" id="">
                        <option>[数据绑定]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="countChart_panel">
        <div class="row">
            <div id="testChart" count-total-user class="chartView"></div>
        </div>
    </div>
    <div class="countBtn_panel">
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button id="countDatePick" class="btn btn-default btn-sm" style="float: right" type="button" data-date-format="dd MM yyyy" data-link-field="startDate" data-link-format="yyyy-mm-dd">选择对比时段</button>
            </div>
        </div>
    </div>
    <div class="countTable_panel">
        <div class="row">
            <div class="col-md-11 countTitle_panel">
                <span class="countTitle">累计用户明细</span>
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-paste exportDataBtn"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>日期</td>
                        <td>累计用户(占比)</td>
                        <td>累计账号(占比)</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    <tr>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                        <td>[数据绑定]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
