<div class="container-fluid bgPadding">
    <div class="row">
        <div class="lineChart_box">
            <div class="col-sm-1">
                <span style="font-size: 18px;font-family: 微软雅黑">活跃度</span>
            </div>
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-xs">DAU</button>
                <button class="btn btn-default btn-xs">WAU</button>
                <button class="btn btn-default btn-xs">MAU</button>
            </div>
            <div class="row">
                <div id="testChart" chart-view class="chartView"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pieChart_box">

        </div>
    </div>
</div>
