<div>
    <div class="container-fluid bgPadding">
        <div class="user_countBox">
            <span class="user_count">总用户注册数：</span><span class="user_count" ng-bind="regNum.regUserNum"></span>
        </div>
        <div class="row">
            <div class="select_panel">
                <div class="input-group input-group-sm select_box">
                    <input type="text" class="form-control" placeholder="请输入关键字搜索" ng-model="selectUserList.keyWord">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="selectUser()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                <div class="role_box">
                    <select class="form-control select_list" ng-model="selectUserList.role">
                        <option>角色不限</option>
                        <option>非教师</option>
                        <option>教师</option>
                        <option>管理员</option>
                    </select>
                    <select class="form-control select_list" ng-model="selectUserList.sex">
                        <option>性别不限</option>
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
                <div class="date_box">
                    <span style="line-height: 30px;">注册日期：</span>
                    <div class="input-group input-group-sm date_list">
                        <input id="endDate" type="text" class="form-control" placeholder="请选择日期" disabled ng-model="selectUserList.endDate"/>
                        <span class="input-group-btn">
                            <button id="dateTimePick2" class="btn btn-default" type="button" data-date-format="dd MM yyyy" data-link-field="endDate" data-link-format="yyyy-mm-dd"><span class="glyphicon glyphicon-calendar"></span></button>
                        </span>
                    </div>
                    <span class="data_line">-</span>
                    <div class="input-group input-group-sm date_list">
                        <input id="startDate" type="text" class="form-control" placeholder="请选择日期" disabled ng-model="selectUserList.startDate"/>
                        <span class="input-group-btn">
                            <button id="dateTimePick1" class="btn btn-default" type="button" data-date-format="dd MM yyyy" data-link-field="startDate" data-link-format="yyyy-mm-dd"><span class="glyphicon glyphicon-calendar"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table_panel">
                <div class="btn_panel">
                    <button class="btn btn-primary" data-target="#updateUser" data-toggle="modal" ng-click="creatAddUser()"><span class="glyphicon glyphicon-plus"></span>添加用户</button>
                    <button class="btn btn-primary" data-target="#deleteUser_model" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>批量删除</button>
                </div><!-- Q -->
                <div class="table_box">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="">选择</th>
                            <th class="">序号</th>
                            <th class="">ID</th>
                            <th class="">手机号（账号）</th>
                            <th class="">角色</th>
                            <th class="">所属科室</th>
                            <th class="">真实姓名</th>
                            <th class="">性别</th>
                            <th class="">注册日期</th>
                            <th class="">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="userlist in userData"><!-- bind data -->
                            <td class=""><input type="checkbox" ng-model="userlist.status"></td>
                            <td class="">{{(paginationConf.currentPage - 1) * paginationConf.itemsPerPage + $index + 1}}</td>
                            <td class="" ng-bind="userlist.ID">[数据绑定]</td>
                            <td class="" ng-bind="userlist.tel">[数据绑定]</td>
                            <td class="" ng-bind="userlist.role">[数据绑定]</td>
                            <td class="" ng-bind="userlist.Department"></td>
                            <td class="" ng-bind="userlist.name">[数据绑定]</td>
                            <td class="" ng-bind="userlist.sex">[数据绑定]</td>
                            <td class="" ng-bind="userlist.regDate">[数据绑定]</td>
                            <td class="">
                                <span class="glyphicon glyphicon-trash" ng-click="deleteUserForID(userlist)" data-target="#deleteUserForId_model" data-toggle="modal"></span>
                                <span class="glyphicon glyphicon-pencil" ng-click="getUpdateUser(userlist)" data-target="#updateUser" data-toggle="modal"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div page pagination-conf="paginationConf" pagination-click="getUserData()"></div>
            </div>
        </div>
    </div>

    <!-- modalView -->
    <div id="updateUser" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p><span class="glyphicon glyphicon-pencil"></span>{{modalData.modalName}}</p>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-11">
                                <form action="" class="form-horizontal form_box">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="userID">用户账号：</label>
                                        <div class="col-xs-6">
                                            <input id="userID" class="form-control modal_input" type="text" placeholder="请输入账号" ng-model="modalData.tel"/>
                                        </div>
                                        <div class="col-xs-1"><span class="noNull">*</span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">用户角色：</label>
                                        <div class="col-xs-6">
                                            <select ng-model="modalData.role" class="form-control modal_input">
                                                <option>非教师</option>
                                                <option>教师</option>
                                                <option>管理员</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-1"><span class="noNull">*</span></div>
                                    </div>
                                    <hr class="col-xs-offset-1 hr_260">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3" for="userName">用户姓名：</label>
                                        <div class="col-xs-6">
                                            <input id="userName" class="form-control modal_input" type="text" placeholder="请输入用户姓名" ng-model="modalData.name"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">性别：</label>
                                        <div class="col-xs-6">
                                            <select ng-model="modalData.sex" class="form-control modal_input">
                                                <option>-- 未设置 --</option>
                                                <option>男</option>
                                                <option>女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr class="col-xs-offset-1" style="margin-left: 15px; width: 260px;margin-bottom: 17px">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3">科室信息：</label>
                                        <div class="col-xs-6">
                                            <select id="FirstDepName" class="form-control modal_input" ng-model="modalData.FirstDepId" ng-options="m.id as m.DepName for m in FirstDepName">
                                                <option value="">-- 未设置 --</option>
                                            </select>
                                            <select class="form-control modal_input" ng-model="modalData.SecondDepId" ng-options="m.id as m.DepName for m in SecondDepName">
                                                <option value="">-- 未设置 --</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div style="float: right;">
                            <img class="img-thumbnail userImg" src={{modalData.imgUrl}} onerror="this.src='img/userImg404.png'">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn_footer_size" ng-click="operation()">保&nbsp;&nbsp;存</button>
                    <button class="btn btn-primary btn_footer_size" data-dismiss="modal">取&nbsp;&nbsp;消</button>
                </div>
            </div>
        </div>
    </div><!-- user modal -->

    <!-- model View -->
    <div id="deleteUserForId_model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p><span class="glyphicon glyphicon-exclamation-sign"></span>提示</p>
                </div>
                <div class="modal-body">
                    <p class="message"><span class="glyphicon glyphicon-exclamation-sign glyphicon_big glyphicon_red"></span> 确定要删除以上信息吗？</p>
                    <div class="btn_mes_panel">
                        <button class="btn btn-success btn_footer_size" ng-click="deleteUserForID(userlist.ID)">确&nbsp;&nbsp;定</button>
                        <button class="btn btn-danger btn_footer_size" data-dismiss="modal">取&nbsp;&nbsp;消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- model View -->
    <div id="deleteUser_model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p><span class="glyphicon glyphicon-exclamation-sign"></span>提示</p>
                </div>
                <div class="modal-body">
                    <p class="message"><span class="glyphicon glyphicon-exclamation-sign glyphicon_big glyphicon_red"></span> 确定要删除以上信息吗？</p>
                    <div class="btn_mes_panel">
                        <button class="btn btn-success btn_footer_size" ng-click="deleteUser(userlist.ID)">确&nbsp;&nbsp;定</button>
                        <button class="btn btn-danger btn_footer_size" data-dismiss="modal">取&nbsp;&nbsp;消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>