.lineChart_box{
    background-color: #FFFFFF;
    margin-top: 18px;
    padding: 20px 0px 5px 5px;
    width: 1110px;
}

.pieChart_box{
    background-color: #FFFFFF;
    width: 1110px;
    height: 100px;
    margin-top: 20px;
}

.bgPadding{
    padding-left: 40px;
    padding-right: 40px;
}

.chartView{
    width: 1090px;
    height: 340px;
    margin: 0 auto;
    margin-top: 15px;
}