li {list-style-type:none;}

div#user_list li{
    padding-left: 68px;
    /*display: none;*/
}

div#content_list li{
    padding-left: 68px;
    /*display: none;*/
}

div#count_list li{
    padding-left: 68px;
}

div#systemSetting_list li{
    padding-left: 68px;
    /*display: none;*/
}

#main_ListTree{
    padding-left: 0px;
    padding-top: 20px;
}

.title_box{
    background-color: #333333;
    height: 60px;
    width: 100%;
    margin: 0px;
    position: fixed;
    z-index: 999;
}

.TreeView_box{
    background-color: #333333;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: auto;
    padding: 0px 0px 0px 0px;
    z-index: 999;
    overflow-y:visible
}

.list{
    width: 200px;
    height: 42px;
    color: #ffffff;
    text-align: left;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: -1px;
    background-color: #333333;
    border-bottom:1px #5a5a5a solid;
    border-top: 1px #5a5a5a solid;
}

.list:hover{
    background-color: #666666;
}

.main_view{
    margin-left: 200px;
    background-color: #f2f2f2;
    padding-top: 60px;
}

.LOGO_box{
    width: auto;
    height: 60px;
}