th{
    color: #868686;
    text-align: center;
}
.user_count{
    float: left;
}

.user_countBox{
    margin: 0px;
    padding: 5px;
    font-family: 微软雅黑;
    font-size: 18px;
    width: auto;
    height: 20px;
    color: #868686;
}

.select_box{
    width: 300px;
    float: left;
}

.role_box{
    float: left;
    margin-left: 10px;
}

.select_list{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    float: left;
    margin-left: 10px;
}

.date_box{
    float: right;
}

.date_list{
    width: 130px;
    margin-left: 10px;
    float: right;
}

.data_line{
    float: right;
    padding: 4px 0px 10px 10px;
}

.select_panel{
    background-color: #FFFFFF;
    margin-top: 18px;
    padding: 20px 20px 5px 20px;
    height: 70px;
}

.table_panel{
    background-color: #FFFFFF;
    padding: 20px 20px 5px 20px;
    border-top: 1px #f2f2f2 solid;
    margin-bottom: 15px;
}

.btn_panel{
    float: right;
}

.table_box{
    text-align: center;
    padding-top: 45px;
}
