<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<button class="btn btn-default" data-target="#modalName" data-toggle="modal">click</button>
<div id="modalName" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- head -->
                <p>title</p>
            </div>
            <div class="modal-body">
                <!-- body -->
                <p>body</p>
            </div>
            <div class="modal-footer">
                <!-- footer -->
                <p style="float: left">footer</p>
                <button class="btn btn-default" data-dismiss="modal">close the modal</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>