<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../app/css/bootstrap-extend.css"/>
    <link rel="stylesheet" href="css/UpdateUser_model.css"/>
    <link rel="stylesheet" href="css/AddClass.css"/>
    <link rel="stylesheet" href="css/confirm_model.css"/>
</head>
<body>

<button class="btn btn-default" data-toggle="modal" data-target="#delete_model">update click</button>
<button class="btn btn-default" data-toggle="modal" data-target="#success_model">res click</button>
<button class="btn btn-default" data-toggle="modal" data-target="#error_model">error click</button>

<!-- update -->
<div id="delete_model" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span>提示</p>
            </div>
            <div class="modal-body">
                <p class="message"><span class="glyphicon glyphicon-exclamation-sign glyphicon_big glyphicon_red"></span> 确定要删除以上信息吗？</p>
                <div class="btn_mes_panel">
                    <button class="btn btn-success btn_footer_size">确&nbsp;&nbsp;定</button>
                    <button class="btn btn-danger btn_footer_size" data-dismiss="modal">取&nbsp;&nbsp;消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="success_model" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span>提示</p>
            </div>
            <div class="modal-body">
                <p class="message"><span class="glyphicon glyphicon-ok-sign glyphicon_big glyphicon_green"></span> 操作成功</p>
                <div class="btn_mes_panel">
                    <button class="btn btn-success btn_footer_size" data-dismiss="modal">确&nbsp;&nbsp;定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="error_model" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span>提示</p>
            </div>
            <div class="modal-body">
                <p class="message"><span class="glyphicon glyphicon-remove-sign glyphicon_big glyphicon_red"></span>操作失败</p>
                <div class="btn_mes_panel">
                    <button class="btn btn-success btn_footer_size" data-dismiss="modal">确&nbsp;&nbsp;定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>