<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/UpdateUser_model.css"/>
    <link rel="stylesheet" href="../app/css/bootstrap-extend.css"/>
</head>
<body>
<button class="btn btn-default" data-toggle="modal" data-target="#updateUser">编辑用户</button>
<!-- data-target:模态框ID “#+ID” -->
<div id="updateUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p><span class="glyphicon glyphicon-pencil"></span>编辑用户</p>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10 ">
                            <form action="" class="form-horizontal form_box">
                                <div class="form-group">
                                    <label class="control-label col-xs-3">用户ID：</label>
                                    <div class="col-xs-6">
                                        <input class="form-control modal_input" type="text" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="userID">用户账号：</label>
                                    <div class="col-xs-6">
                                        <input id="userID" class="form-control modal_input" type="text" placeholder="请输入账号"/>
                                    </div>
                                    <div class="col-xs-1"><span class="noNull">*</span></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3">用户角色：</label>
                                    <div class="col-xs-6">
                                        <select class="form-control modal_input">
                                            <option>非教师</option>
                                            <option>教师</option>
                                            <option>管理员</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1"><span class="noNull">*</span></div>
                                </div>
                                <hr class="col-xs-offset-1" style="margin-left: 15px; width: 260px;margin-bottom: 17px">
                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="userName">用户姓名：</label>
                                    <div class="col-xs-6">
                                        <input id="userName" class="form-control modal_input" type="text" placeholder="请输入用户姓名"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3">性别：</label>
                                    <div class="col-xs-6">
                                        <select class="form-control modal_input">
                                            <option>未设置</option>
                                            <option>男</option>
                                            <option>女</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="col-xs-offset-1" style="margin-left: 15px; width: 260px;margin-bottom: 17px">
                                <div class="form-group">
                                    <label class="control-label col-xs-3">科室信息：</label>
                                    <div class="col-xs-6">
                                        <select class="form-control modal_input">
                                            <option>内科&nbsp;呼吸科</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <hr class="" style="width: 260px;margin-bottom: 17px">
                            <div style="margin-left: -20px">
                                <div class="row">
                                    <label class="col-xs-3 control-label">注册日期：</label>
                                    <label class="col-xs-6">Year-Month-day</label>
                                </div>
                                <div class="row">
                                    <label class="col-xs-3 control-label">末次登陆：</label>
                                    <label class="col-xs-6">Year-Month-day</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;">
                        <img class="img-thumbnail userImg" src="../app/img/UserImg.jpg">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn_footer_size">保&nbsp;&nbsp;存</button>
                <button class="btn btn-primary btn_footer_size">取&nbsp;&nbsp;消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>