.btn_AddUserForClass{
    width: 170px;
    height: 34px;
}

.btn_panel{
    text-align: center;
}

.modal_table_box{
    height: 365px;
    border: 1px;
    border-color: #9d9d9d;
    border-style: solid;
    margin-top: 10px;
    overflow:auto;
}

.selectInput{
    margin-top: 10px;
}

.table_page{
    margin-top: 10px;
}
