.message {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-family: 微软雅黑;
}
.glyphicon_big{
    font-size: 40px;
    margin-right: 40px;
}

.glyphicon_red{
    color: #c12e2a;
}

.glyphicon_green{
    color: #62c462;
}

.btn_mes_panel{
    text-align: right;
}
