.modal_big{
    width: 600px;
}

.form-group.modal_sound{
    margin-right: -15px;
    margin-left: -50px;
}

.hr_1012{
    width: 1012px;
    height: 1px;
    color: #000000;
    margin: 0px 10px 10px 0px;
}

.sound_panel{
    width: auto;
    height: 80px;
    border: 1px solid #ccc;
}

.Img3D_panel{
    width: auto;
    height: 150px;
    border: 1px solid #ccc;
}

.addBtn{
    font-size: 20px;
    line-height: 24px;
}

.minusBtn{
    font-size: 20px;
    line-height: 24px;
}

.case3D_panel{
    width: auto;
    height: 300px;
    border: 1px solid #ccc;
}

.MediaPlayBox{
    height: 35px;
    width: auto;
    border: 1px solid #ccc;
}

.dropdown-menu>li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu>li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

